.image {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.h1 {
    font-size: 28px;
    text-align: center;
    color: #25b7d3;
    margin-top: 40px;
}
.posted {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}
