.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 740px;
}

.link-carousel {
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.link-carousel:hover {
    padding: 2px;
    border-radius: 10px;
    background: #25b7d3;
}
